<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="form-group" id="dz">
    <label class="control-label col-sm-4">地址</label>
    <div class="input-group col-sm-8">
        <span class="input-group-addon"><i class="fa fa-road"></i></span>
        <select id="province" class="form-control">
            <option selected="selected" value="">省份</option>
        </select>
        <select id="city" class="form-control">
            <option selected="selected" value="">城市</option>
        </select>
        <select id="county" class="form-control">
            <option selected="selected" value="">区域</option>
        </select>
        <input type="hidden" id="position" name="position" value="">
        <input type="hidden" id="area" name="area" value="">
        <input type="text" class="form-control" name="address" id="address" value="">
    </div>
</div>
<script th:src="@{/asserts/js/city.js}"></script>
<script th:src="@{/asserts/js/jquery.js}"></script>
<script type="text/javascript">
    $(function(){
        $("#dz").city();
    });
</script>
</body>
</html>